<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zero.apps.common.CommonMapper">

	<sql id="sqlSelect">
		SELECT * ,#{item} FROM TBLS;
	</sql>

	<select id="getListCommonsAll" parameterType="org.zero.apps.common.HiveVo" resultType="map">
		<include refid="sqlSelect" />
	</select>
</mapper>