<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zero.apps.spring.HiveMapper">

	<sql id="sqlSelect">
		SELECT * FROM HIVE.COLUMNS_V2;
	</sql>
	<select id="getMapAll" resultType="map">
		<include refid="sqlSelect" />
	</select>

	<select id="getListAll" resultType="map">
		<include refid="sqlSelect" />
	</select>
</mapper>